{% extends 'base.html.twig' %}



{% block body %}

    {% for order in app.user.profile.orders %}

        <p><strong>
                id : {{ order.id }}  total : {{ order.total }}
                {% if order.status == 1 %}
                    en cours
                {% endif %}
            </strong></p>

    {% endfor %}

{% endblock %}
